/* @import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap"); */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}
.button1{
  position: relative;
  left:1000px;
  top: 20px;
  border-radius: 25px;
  

}
.nav1{
  position: relative;
  bottom:430px;
  left:750px;


}
.view{
  position: relative;
  top:40px;
}
.view2{
  position: relative;
  top:40px;
  right: 40px;
  background: rgba( 199, 34, 209, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
body {
	background-color: #121212;
	width: 100%;
	height: 110%;
	background-repeat: no-repeat;
  overflow-x: hidden;
	backdrop-filter: blur(2px);
}
.footer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
	color: #ffffff;
	text-align: center;
	background: #31dccc;
	font-size: medium;
	bottom: 0;
	left: 0;
	width: 100%;
	height: max-content;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 1%;
	padding-bottom: 10px;
	align-items: baseline;
}

.bg1 {
	overflow: hidden;
	margin-top: 50px;
	height: 678px;
}

.carousel-caption {
	color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.bg2 {
	margin-left: 0px;
	margin-bottom: 0px;
	height: 600px;
}

.font {
	text-align: center;
	margin: auto;
	padding: 2%;
	font-size: x-large;
}

.bg1text {
	position: relative;
	bottom: 500px;
	left: 100px;
	color: white;
}
.newsH{
  font-size: xx-large;
}

.para {
	position: relative;
	bottom: 400px;
	left: 100px;
	color: rgb(203, 199, 199);
}

.para2 {
	top: 150px;
	bottom: 0px;
	position: relative;
	color: white;
}

.cr {
	margin-bottom: 8px;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.icon {
	height: 30px;
	width: 30px;
	margin-left: 15px;
	margin-right: 15px;
}	


*,
*:before,
*:after {
	box-sizing: border-box;
}

.slider {
	height: 400px;
	color: white;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.slider__nav {
	width: 12px;
	height: 12px;
	margin: 2rem 12px;
	border-radius: 50%;
	z-index: 10;
	outline: 6px solid #ccc;
	outline-offset: -6px;
	box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.slider__nav:checked {
	-webkit-animation: check 0.4s linear forwards;
	animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
	left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
	left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
	left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
	left: -300%;
}

.slider__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	height: 100%;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.slider__contents {
	height: 100%;
	padding: 2rem;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.slider__caption {
	font-weight: 500;
	margin: 2rem 0 1rem;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.slider__txt {
	margin-bottom: 3rem;
	max-width: 300px;
	text-size-adjust: 20px;
}

@-webkit-keyframes check {
	50% {
		outline-color: #333;
		box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
	}

	100% {
		outline-color: #333;
		box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
	}
}

@keyframes check {
	50% {
		outline-color: #333;
		box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
	}

	100% {
		outline-color: #333;
		box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
	}
}

